<h1>Stupid Coaching</h1>
<div class="user-question">
<p> <%= @input.capitalize %> </p>
<p><em>-You</em></p>
</div>

<div class="coach-answer">
<p> <strong> <%= @answer %> </strong> </p>
<%= link_to "Ask a new question", ask_path %>
<p><em>-Your Coach</em></p>
</div>
